<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" preserve-order="true" >
  <test name="News服务">
    <classes>
      <class name="com.bdtt.rest.app.news.GetHotNewsTest"/><!-- 一周最热／历史最热／近期爆料 -->
      <!-- class name="com.bdtt.rest.app.news.FirstPageTest"/ --><!-- 新首页资讯流；注销掉，5.3.5及之后不再用该接口 -->
      <!-- class name="com.bdtt.rest.app.news.SecondPageTest"/ --><!-- 资讯二级界面；注销掉，5.3.5及之后不再用该接口 -->
      <class name="com.bdtt.rest.app.news.GetTopicListTest"/><!-- 获取专题列表页内容 -->
      <class name="com.bdtt.rest.app.news.SpeciallyListTest"/><!-- 精品卡列表 -->
      <class name="com.bdtt.rest.app.news.MainAttrTest"/><!-- 新闻主要属性 -->
      <class name="com.bdtt.rest.app.news.GetNewsInfomation"/><!-- 新闻详情页下发 -->
      <class name="com.bdtt.rest.app.news.MediaListTest"/><!-- 订阅界面（媒体推荐和全国频道）-->
      <class name="com.bdtt.rest.app.news.SubmitUserLikeTest"/><!-- 上传用户定制频道和公众号内容 -->
      <class name="com.bdtt.rest.app.news.SynTest"/><!-- 同步机器的订阅信息到用户的接口, 对于从来没有过订阅行为的用户，将机器的订阅信息和他进行绑定 -->
      <class name="com.bdtt.rest.app.news.FlowListTest"/><!-- 新版资讯信息流接口（分栏目）(5.3.5版本及之后） -->
      <class name="com.bdtt.rest.app.news.FlowChannelListTest"/><!-- 首页栏目（频道）列表(5.3.5版本及之后）；根据用户选择展示频道列表顺序 -->
    </classes>
  </test> <!-- Test -->
  <test name="main服务">
    <classes>
	  <class name="com.bdtt.rest.app.main.OpenAppTest"/><!-- 打开app -->
	  <class name="com.bdtt.rest.app.main.SplashTest"/><!-- 获取开屏页广告配置 -->
	  <class name="com.bdtt.rest.app.main.ChangeCityTest"/><!-- 切换城市 -->
	  <class name="com.bdtt.rest.app.main.UpdateTest"/><!-- 判断App是否更新 -->
	  <class name="com.bdtt.rest.app.main.UserINifoTest"/><!-- 获取用户信息 -->
	  <class name="com.bdtt.rest.app.main.PersonalcenterTest"/><!-- 获取生活服务列表 -->
    </classes>
  </test> <!-- Test --> 
  <test name="lts服务"> <!-- 只适合测试环境用 -->
    <classes>
      <class name="com.bdtt.rest.app.lts.CheckTimeTest"/><!-- 服务器时间校验 -->
      <class name="com.bdtt.rest.app.lts.RegionListTest"/><!-- 地域树 -->
      <!--class name="com.bdtt.rest.app.lts.GetRegionIdTest"/ --><!-- 根据地区名获取region_id，有bug暂时忽略 -->
      <!-- class name="com.bdtt.rest.app.lts.SearchTest"/ --><!-- 搜索（5.3版本加入）,测试环境该接口有问题，先不管 -->
      <class name="com.bdtt.rest.app.lts.TaskListTest"/><!-- 任务中心（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.TaskSignTest"/><!-- 签到（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.TaskShareTest"/><!-- 分享微信内容接口（5.5版本赚钱阅读二期新加入）-->
      <class name="com.bdtt.rest.app.lts.RewardGoldTest"/><!-- 奖励金币/零钱（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserRewardInfoTest"/><!-- 用户奖励信息（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserBindAlipayTest"/><!-- 绑定支付宝（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserGetAlipayInfoTest"/><!-- 提现-获取支付宝信息（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserWithdrawTest"/><!-- 提交提现（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserSubordinateTest"/><!-- 收徒（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserSubordinationInfoTest"/><!-- 用户收徒信息（5.4版本赚钱阅读新加入） -->
      <class name="com.bdtt.rest.app.lts.UserWakeupTest"/><!-- 唤醒徒弟（5.5版本赚钱阅读二期新加入） -->
      <class name="com.bdtt.rest.app.lts.ActivityNewYearTest"/><!-- 新年小目标：赚钱阅读活动，5.5加入 -->
      <class name="com.bdtt.rest.app.lts.ActivityBigTargetTest"/><!-- 10800活动：赚钱阅读活动，5.5加入 -->
      <class name="com.bdtt.rest.app.lts.ActivityReceiveActivityTest"/><!-- 接任务：接受/领取赚钱阅读活动，5.5加入 -->      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
